/* ===== GLOBAL STYLES START ===== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #F2F2F2;
}

a {
  text-decoration: none;
}

.main_title {
  font-weight: 600;
  font-size: 36px;
  line-height: 36px;
  color: #19191B;
}

.body_regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #19191B;
}

.body_regular-small {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.body_regular-smaller {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.body_medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.title_semibold {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.footnote_regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.overlay.active {
  display: block;
}

/* ===== GLOBAL STYLES END ===== */
/* ===== NAVBAR START ===== */
.aside {
  background-color: #FFF;
  -webkit-box-shadow: inset -1px 0px 0px #E0E0E0;
          box-shadow: inset -1px 0px 0px #E0E0E0;
  position: fixed;
  top: 0;
  left: 0;
  width: 256px;
  height: 100vh;
  padding: 20px 8px 6px 8px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 99;
}
.aside::-webkit-scrollbar {
  width: 0px;
}

.aside.hide {
  width: 64px;
}
.aside.hide .sidebar_profile-user-img,
.aside.hide .sidebar_profile-user-info,
.aside.hide .sidebar_new-order-btn-text,
.aside.hide .sidebar-nav-item-name,
.aside.hide .sidebar-menu-dropdown::after,
.aside.hide .sidebar-menu-item,
.aside.hide .sidebar-menu-dropdown .body_regular-smaller::after {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.aside.hide .sidebar_new-order-btn-plus {
  margin-right: -100px !important;
}
.aside.hide .sidebar_new-order {
  margin: 32px 0 0 0;
}

.sidebar_profile {
  position: relative;
  margin: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar_profile .sidebar_profile-user-img {
  margin-right: 12px;
  width: 48px;
  height: 48px;
  border: 2px solid #FFFFFF;
  -webkit-filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.03));
          filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.03));
  border-radius: 27px;
  overflow: hidden;
}
.sidebar_profile .sidebar_profile-user-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar_profile .sidebar_profile-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar_profile .sidebar_profile-user-info .sidebar_profile-user-name .body_medium {
  color: #19191B;
  white-space: nowrap;
}
.sidebar_profile .sidebar_profile-user-info .sidebar_profile-user-position .footnote_regular {
  color: #666;
  white-space: nowrap;
}
.sidebar_profile .sidebar_burger {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 28px;
  height: 28px;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}
.sidebar_profile .sidebar_burger .sidebar_burger-open,
.sidebar_profile .sidebar_burger .sidebar_burger-close {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar_profile .sidebar_burger .sidebar_burger-open.hide {
  display: none;
}
.sidebar_profile .sidebar_burger .sidebar_burger-close {
  display: none;
}
.sidebar_profile .sidebar_burger .sidebar_burger-close.hide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar_profile-company-name {
  position: relative;
}
.sidebar_profile-company-name .sidebar_profile-line {
  position: absolute;
  width: 107%;
  height: 1px;
  top: 32px;
  left: -8px;
  background-color: rgba(0, 0, 0, 0.09);
}

.sidebar_new-order {
  margin: 32px 8px 0 8px;
}
.sidebar_new-order .sidebar_new-order-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  background-color: #7386D5;
  color: #F3F5FF;
  white-space: nowrap;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidebar_new-order .sidebar_new-order-btn:hover {
  background-color: #5B6FBE;
}
.sidebar_new-order .sidebar_new-order-btn:active {
  background-color: #465BB0;
}
.sidebar_new-order .sidebar_new-order-btn .sidebar_new-order-btn-plus {
  margin-right: 8px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.sidebar-nav-list {
  margin-top: 23px;
}
.sidebar-nav-list .sidebar-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sidebar-nav-list .sidebar-nav-items .sidebar-nav-item + .sidebar-nav-item {
  margin-top: 8px;
}
.sidebar-nav-list .sidebar-nav-items .sidebar-nav-item {
  cursor: pointer;
  list-style: none;
  white-space: nowrap;
  width: 100%;
}
.sidebar-nav-list .sidebar-nav-items .sidebar-nav-item.sidebar-menu-dropdown .body_regular-smaller::after {
  content: "";
  position: absolute;
  right: 12px;
  background-image: url(../imgs/icons/expandmoreicon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.sidebar-nav-list .sidebar-nav-items .sidebar-nav-item.sidebar-menu-dropdown.active .body_regular-smaller::after {
  background-image: url(../imgs/icons/expandmoreactiveicon.svg);
}
.sidebar-nav-list .sidebar-nav-items .sidebar-nav-item.sidebar-menu-dropdown.active .sidebar-menu {
  display: block;
}
.sidebar-nav-list .sidebar-nav-items .sidebar-nav-item.sidebar-menu-dropdown.active .body_regular-smaller {
  background-color: #EEF0FA;
  border-radius: 8px;
  color: #7386D5;
}
.sidebar-nav-list .sidebar-nav-items .sidebar-nav-item .body_regular-smaller {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #19191B;
  padding: 12px 0 12px 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidebar-nav-list .sidebar-nav-items .sidebar-nav-item .body_regular-smaller.active {
  background-color: #EEF0FA;
  border-radius: 8px;
  color: #7386D5;
}
.sidebar-nav-list .sidebar-nav-items .sidebar-nav-item .body_regular-smaller .sidebar-nav-item-icon {
  margin-right: 8px;
}

.sidebar-menu {
  display: none;
  overflow: hidden;
  list-style-type: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sidebar-menu .sidebar-menu-item {
  margin-top: 8px;
  padding: 12px 0 12px 20px;
}
.sidebar-menu .sidebar-menu-item .body_regular-smaller {
  padding: 0 0 0 25px !important;
  color: #525252 !important;
  background-color: #fff !important;
  border-radius: 0 !important;
}
.sidebar-menu .sidebar-menu-item .body_regular-smaller::after {
  display: none;
}
.sidebar-menu .sidebar-menu-item .body_regular-smaller.active {
  color: #7386D5 !important;
  background-color: #fff !important;
  border-radius: 0 !important;
}
.sidebar-menu .sidebar-menu-item + .sidebar-menu-item {
  margin-top: 4px;
}

.sidebar_nav-logout {
  margin: 8px 8px 0 8px;
}
.sidebar_nav-logout .sidebar_nav-logout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 0;
  width: 100%;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #FFD9D9;
}
.sidebar_nav-logout .sidebar_nav-logout-btn .body_regular {
  color: #F13030;
  margin-left: 4px;
  white-space: nowrap;
}

/* ===== NAVBAR END ===== */
/* ===== LOGIN START ===== */
.login {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_content {
  width: 27.3%;
}

.login_title {
  text-align: center;
}

.login_form {
  display: block;
  margin-top: 32px;
  width: 100%;
}

.login_item {
  margin-bottom: 16px;
  display: block;
}

.login_input {
  outline: none;
  background-color: #fff;
  margin-top: 4px;
  position: relative;
  width: 100%;
  height: 48px;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.03);
  border-radius: 8px;
}
.login_input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}
.login_input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}
.login_input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}
.login_input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}
.login_input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #666;
}
.login_input .login_mail-img {
  position: absolute;
  top: 50%;
  left: 16px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}
.login_input .login_mail-img-show {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 13px;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}
.login_input .login_input-text {
  outline: none;
  border: none;
  border-radius: 8px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-right: 45px;
  padding-left: 44px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.login_input .login_input-text:focus {
  border: 2px solid #7386D5;
}

.login_remember {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login_remember .login_remember-checkbox-fake {
  margin-right: 12px;
  position: relative;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 6px;
}
.login_remember .login_remember-checkbox-real {
  width: 1;
  height: 1;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.login_remember .login_remember-checkbox-real:checked + .login_remember-checkbox-fake {
  background-color: #7386D5;
}
.login_remember .login_remember-checkbox-real:checked + .login_remember-checkbox-fake::before {
  content: "";
  background-image: url(../imgs/icons/checkedicon.svg);
  background-size: initial;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.login_btn {
  margin-top: 48px;
  width: 100%;
}
.login_btn .login_btn-item {
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 100%;
  height: 48px;
  background-color: #7386D5;
  color: #F3F5FF;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.login_btn .login_btn-item:hover {
  background-color: #5B6FBE;
}
.login_btn .login_btn-item:active {
  background-color: #465BB0;
}

.login_forgot-password {
  margin-top: 28px;
  width: 100%;
  text-align: center;
}
.login_forgot-password .login_forgot-password-item {
  width: 100%;
  color: #7386D5;
}

.login_forgot-pasw-content {
  display: block;
  margin-top: 20px;
}
.login_forgot-pasw-content .login_btn {
  margin-top: 32px;
}

.login_forgot-pasw-suptext {
  text-align: center;
  margin-bottom: 32px;
}

.login_error-text {
  margin-top: 32px;
  margin-bottom: -8px;
  background-color: #FFD9D9;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}
.login_error-text .title_semibold {
  color: #19191B;
}
.login_error-text .body_regular-small {
  color: rgba(0, 0, 0, 0.68);
}

.login_title-subtitle {
  margin-top: 20px;
  margin-bottom: -16px;
}

/* ===== LOGIN END ===== */